@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body{
	margin: 0;
	font: 1.6rem 'Open Sans', sans-serif;
}
